                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stats}">
                            <i class="fas fa-chart-bar"></i> Statistiques
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">
                            <i class="fas fa-user"></i> Mon Profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i> Déconnexion
                        </a>
                    </li> 